{% assign tags_for_search = "Horror,Comedy" | split: "," %}
<div class="container">
  <div class="eight columns categories-list">
    <!--Categories:-->
    <!--<a href="/catalog" class="{% unless catalog.current_category %}active{% endunless %}">All</a>-->
    <!--{% for category in catalog.categories %}-->
    <!--  <a href="/catalog/{{category.slug}}" class="{% if catalog.current_category.slug == category.slug %}active{% endif %}">{{category.title}}</a>-->
    <!--{% endfor %}-->
    Tags: 
    <a href="?" class="{% if request.params['tag'] == nill %}active{% endif %}">All</a>
    {% for tag in tags_for_search %}
        <a href="?tag={{tag}}" class="{% if request.params['tag'] == {{tag}} %}active{% endif %}">{{tag}}</a>
    {% endfor %}
    <!--<a href="?tag=Comedy" class="{% if request.params['tag'] == "Comedy" %}active{% endif %}">Comedy</a>-->
  </div>
  <div class="four columns right">
    <!--<div class="search-top">-->
    <!--  {% include 'search_form' %}-->
    <!--</div>-->
  </div>
</div>
<div class="container">
    {% paginate catalog.programs by 12 %}
      {% include 'program_list' %}
    {% endpaginate %}
</div>